body, html {
    height: 100%;
    margin: 0px;
    font-family: 'Bangers', cursive;
}
.bg {
    background-color: #dbd6ed;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.8;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}
.purpleCard {
    width: 100%;
    height: 100%;
    border-radius: 6px;
}
.kweenPic {
    width: 100%;
    height: 100%;
    border-radius: 6px;
}
#cardContainer {
    position: relative;
    margin: 5px;
    width: 65%;
    perspective: 1000px;
}
.card {
    width: 120px;
    height: 150px;
    margin: 10px;
    display: inline-block;
    position: relative;
    transition: transform 1s;
    transform-style: preserve-3d;
}
.front, .back {
    height: 150px;
    width: 120px;
    position: absolute;
}

.front {
    transform: rotateY(180deg);
}

.clicked {
    transform: rotateY(180deg);
}
#count {
    position: absolute;
    right: 275px;
    top: 275px;
    font-size: 90px;
    color: #452162;
}

.finished {
    position: absolute;
    right: 100px;
    top: 110px;
    font-size: 90px;
    color: #452162;
    text-shadow: 3px 5px #cd99d6;
  animation: fadeIn ease 2s;
  -webkit-animation: fadeIn ease 2s;
  -moz-animation: fadeIn ease 2s;
  -o-animation: fadeIn ease 2s;
  -ms-animation: fadeIn ease 2s;
}
@keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@-moz-keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@-o-keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@-ms-keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}
#bestScore {
    position: absolute;
    right: 135px;
    top: 430px;
    font-size: 60px;
    color: #452162;

}
#newGame {
    position: absolute;
    top: 520px;
    right: 180px;
    width: 240px;
    height: 100px;
    font-size: 45px;
    font-family: 'Bangers', cursive;
    color: #452162;
    border-width: 7px;
    background-color: #e9e6f1;
}